<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ubuy">
  <test thread-count="5" name="Test in chrome">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
     <parameter name ="baseUrl" value="https://www.ubuy.co.in/">
      <class name="project.Ubuy"/>
     </parameter>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test in firefox">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
     <parameter name ="baseUrl" value="https://www.ubuy.co.in/">
      <class name="project.Ubuy"/>
      </parameter>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
